@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

.container {
  position: relative;
  width: 100%;
  background-color: rgb(229, 228, 247);
  min-height: 100vh;
  overflow: hidden;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 1 /2;
  grid-row: 1 /2;
  padding: 0 5rem;
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

.input-field {
  max-width: 300px;
  width: 100%;
  height: 55px;
  background-color: #f0f0f0;
  margin: 10px 0;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}
.input-field1 {
  max-width: 300px;
  width: 100%;
  height: 55px;
  background-color: #f0f0f0;
  margin: 10px 0;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field1 input:placeholder-shown {
  color: #aaa;
  font-weight: 600;
}
.input-field1 input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: rgb(124, 124, 124);
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  font-size: 1.5rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 700;
  font-size: 1.1rem;
  color: #333;
}

.input-field input:placeholder-shown {
  color: #aaa;
  font-weight: 600;
}

.btn.solid {
  width: 150px;
  height: 40px;
  font-size: 0.8rem;
  outline: none;
  border: none;
  border-radius: 48px;
  background-color: rgb(109, 104, 246);
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 2;
}

.btn.solid:hover {
  background-color: rgb(42, 40, 90);
  cursor: pointer;
}

.social-text {
  padding: 0.7rem 0;
}

.social-media {
  display: flex;
  justify-content: center;
}

.facebook-icon {
  height: 46px;
  width: 46px;
  border: 1px solid #333;
  margin: 0 0.45rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-size: 1.3rem;
  border-radius: 50%;
  transition: all 1s;
}
.twitter-icon {
  height: 46px;
  width: 46px;
  border: 1px solid #333;
  margin: 0 0.45rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-size: 1.3rem;
  border-radius: 50%;
  transition: all 1s;
}
.google-icon {
  height: 46px;
  width: 46px;
  border: 1px solid #333;
  margin: 0 0.45rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-size: 1.3rem;
  border-radius: 50%;
  transition: all 1s;
}
.linkedin-icon {
  height: 46px;
  width: 46px;
  border: 1px solid #333;
  margin: 0 0.45rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-size: 1.3rem;
  border-radius: 50%;
  transition: all 0.5s;
}

.facebook-icon:hover {
  color: #3b5998;
  border-color: #3b5998;
}

.twitter-icon:hover {
  color: #00acee;
  border-color: #aed6e6;
}
.google-icon:hover {
  color: #4285f4;
  border-color: #4285f4 #db4437 #f4b400 #0f9d58;
}

.linkedin-icon:hover {
  color: #0e76a8;
  border-color: #0e76a8;
}

.signin-signup {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr;
}
form.sign-in-form {
  z-index: 2;
}
.signup-signup {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr;
}
form.sign-in-form {
  z-index: 2;
}

.container::before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  background-image: linear-gradient(
    -45deg,
    rgb(142, 138, 245) 0%,
    rgb(105, 102, 180) 100%
  );
  transform: translateY(-50%);
  border-radius: 50%;
  z-index: -1;
}

.image {
  width: 100%;
  position: absolute;
  z-index: 1;
}

.panels-container {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  z-index: 1;
}
.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.panel .content {
  color: rgb(142, 138, 245);
  padding: 1.3rem;
  z-index: 4;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
  padding: 0.73rem;
}

.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid black;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
  border-radius: 2rem;
  color: black;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 3;
}

.btn.transparent:hover {
  background-color: rgb(142, 138, 245);
}

.dropbtn {
  background-color: transparent;
  font-weight: 600;
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  text-align-last: left;
  border: none;
  cursor: pointer;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  color: rgb(117, 117, 117);
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: none;
}

.dropdown {
  max-width: 300px;
  width: 100%;
  height: 55px;
  background-color: #f0f0f0;

  margin: 10px 0;
  border-radius: 55px;
  display: grid;
  align-items: left;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.dropdown i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  font-size: 1.5rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f0f0f0;
  min-width: 300px;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f0f0f0;
}

.show {
  display: block;
}

.canvas {
  top: 60px;
  left: 0;
  width: 15%;
  height: 148%;
  background: rgb(109, 104, 246);
  z-index: -1;
  position: absolute;
}

.menu {
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: rgb(228, 226, 255);
  z-index: -1;
}

.userimage {
  position: absolute;
  border-radius: 50%;
  top: 5rem;
  left: 25px;
  padding: 1rem;
  z-index: 2;
  max-width: 40rem;
  max-height: 10rem;
}

.appname {
  font-size: 1.4rem;
  color: #444;
  margin-bottom: 10px;
  top: 5px;
  left: 10px;
  padding: 0.2rem;
  position: fixed;
  z-index: 4;
}

.navbar {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  left: 0px;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 60px;
  background-color: rgb(228, 226, 255);
  z-index: 3;
}

.navbar a {
  float: left;
  display: block;
  background: rgb(228, 226, 255);
  color: rgb(49, 49, 49);
  text-align: center;
  height: 60px;
  padding: 14px;
  text-decoration: none;
  z-index: 3;
}

.navbar a:hover {
  background: rgb(109, 104, 246);
  color: white;
}

.edit-button {
  position: absolute;
  top: 16rem;
  left: 1.8rem;
  margin: 0;
  background: white;
  border: 2px solid black;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
  border-radius: 2rem;
  color: black;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 3;
}
.edit-button:hover {
  background: rgb(228, 226, 255);
}

.logout-button {
  position: absolute;
  top: 20rem;
  left: 1.8rem;
  margin: 0;
  background: white;
  border: 2px solid black;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
  border-radius: 2rem;
  color: black;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 3;
}

.logout-button:hover {
  background: rgb(228, 226, 255);
}

.actionpane {
  align-items: center;
  justify-content: center;
  left: 15%;
  top: 60px;
  width: 85%;
  position: absolute;
  padding: 1rem;
}

.titletext {
  align-items: center;
  justify-content: center;
  left: 50%;
  padding-left: 37%;
  font-size: 1.5rem;
  color: rgb(109, 104, 246);
}

.dashboard {
  top: 80px;
  padding: 8rem;
  left: 6%;
  width: 43%;
  height: 37%;
  background: rgb(210, 209, 226);
  align-items: center;
  position: absolute;
  border-radius: 6%;
  border: 12px solid rgb(180, 179, 219);
}

.AIBot {
  top: 80px;
  padding: 8rem;
  left: 53%;
  width: 43%;
  height: 37%;
  background: rgb(210, 209, 226);
  z-index: -1;
  position: absolute;
  border-radius: 6%;
  border: 12px solid rgb(180, 179, 219);
}

.text1 {
  position: absolute;
  top: 1px;
  padding: 7rem;
  width: 100%;
  align-items: center;
  position: absolute;
  border-radius: 6%;
}

.text1 p {
  padding: 0.3rem;
}

.text1 h2 {
  padding-bottom: 2%;
}

.logs-button {
  position: absolute;
  top: 16rem;
  left: 13rem;
  margin: 0;
  background: white;
  border: white;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
  border-radius: 2rem;
  color: black;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 3;
}

.logs-button:hover {
  background: rgb(109, 104, 246);
  border: white;
  color: white;
}

.text2 {
  position: absolute;
  top: 1px;
  padding: 7rem;
  width: 100%;
  align-items: center;
  position: absolute;
  border-radius: 6%;
  left: 32rem;
}

.text2 p {
  padding: 0.3rem;
}

.text2 h2 {
  padding-bottom: 2%;
}

.chat-button {
  position: absolute;
  top: 17.3rem;
  left: 14.8rem;
  margin: 0;
  background: white;
  border: white;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
  border-radius: 2rem;
  color: black;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 3;
}

.chat-button:hover {
  background: rgb(109, 104, 246);
  border: white;
  color: white;
}

.graph1 {
  top: 170%;
  padding: 2rem;
  left: 6%;
  width: 89%;
  height: 140%;
  background: rgb(210, 209, 226);
  z-index: 1;
  position: absolute;
  border-radius: 9%;
  border: 12px solid rgb(180, 179, 219);
}

.form {
  top: 80px;
  padding: 8rem;
  left: 6%;
  width: 90%;
  height: 700%;
  background: rgb(210, 209, 226);
  align-items: center;
  position: absolute;
  border-radius: 6%;
  border: 12px solid rgb(180, 179, 219);
}

.submit-button {
  position: absolute;
  top: 30.3rem;
  left: 30.8rem;
  margin: 0;
  background: white;
  border: white;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
  border-radius: 2rem;
  color: black;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 3;
}

.submit-button:hover {
  background: rgb(109, 104, 246);
  border: white;
  color: white;
}
.cough {
  left: 20rem;
}

.cough1 {
  position: absolute;
  top: 1.2rem;
  left: 14rem;
  size: 6rem;
}

.breath1 {
  position: absolute;
  left: 14rem;
  top: 1.2rem;
  size: 6rem;
}

.logsdata {
  position: absolute;
  top: 30.3rem;
  left: 30.8rem;
}
